/* BedAvailability.css */

.bed-availability-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #b9eaef;
  border-radius: 20px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0.1, 0.5);
}

h2 {
  text-align: center;
  color: #000000;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
}

.bed-availability-table {
  width: 100px;
  border-collapse: collapse;
}

.bed-availability-table th, 
.bed-availability-table td {
  padding: 12px 30px;
  text-align: left;
}

.bed-availability-table th {
  background-color: #59c4d2;
  color: white;
}

.bed-availability-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.bed-availability-table tr:hover {
  background-color: #ddd;
}

.bed-availability-table td {
  border-bottom: 1px solid #ddd;
}

.bed-availability-table tr:last-child td {
  border-bottom: none;
}

